# Node modules
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# Build and cache directories
build/
dist/
coverage/

# IDE/editor specific files
.vscode/
.idea/

# Temporary files
*.tmp
